<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation Bar</title>

    <link rel="stylesheet" href="../styles/style-resume.css">
</head>

<body>

    <nav class="main-nav">
        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/contact">Contact</a>
            <a href="/admin">Admin</a>
            <a href="https://github.com/Azeb-S/Portfolio-Project-Guestbook-Form.git">GitHub</a>
            <a href="https://www.linkedin.com/in/azeb-tesfay/">LinkedIn</a>
        </div>
    </nav>



</body>

</html>