<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Azeb Tesfay Resume</title>

    <link rel="icon" href="/images/logo.png">
    <link rel="stylesheet" href="/styles/style-resume.css">
</head>

<body>

    <%- include('partials/nav') %>

        <header id="head-content">

            <div><img src="/images/A.png" alt="Profile picture of Azeb"></div>
            <div>
                <h1>Azeb Tesfay</h1>
                <hr>
                <div class="header-content">
                    <p>SeaTac,Washington,98188 <br>azbseb@gmail.com</p>

                    <div cass="icon-container">
                        <div>

                            <a href="https://github.com/Azeb-Seb"><img src="/images/WpX4-github-icon-white-png.png" class="social-logo" alt="github icon">Github</a>
                        </div>

                        <div>

                            <a href="https://www.linkedin.com/in/azeb-tesfay/ "><img src="/images/linkedin_logo.png" class="social-logo" alt=" LinkedIn Icon">LinkedIn</a>
                        </div>

                    </div>

                </div>

        </header>
        <main>

            <section id="summary">
                <h2>Professional Summary</h2>
                <p>Current Software Development student at Green River College with prior experience in application support and web development. Skilled in troubleshooting, problem-solving, and assisting in software deployments. Eager to grow as a junior
                    engineer by contributing to collaborative projects and applying technical knowledge in real-world environments.</p>
            </section>

            <section id="skills">
                <h2>Key Skills</h2>
                <ul>
                    <li>Programming: Java, JavaScript, Python, SQL, HTML, CSS</li>
                    <li>Version Control: Git, GitHub</li>
                    <li>Databases: SQL, MySQL</li>
                    <li>Application Troubleshooting & Support</li>
                    <li>Team Collaboration & Communication</li>

                </ul>
            </section>

            <section id="experance">
                <h2>Professional Experience</h2>
                <div id="exp1 ">
                    <h3 class="experance-heading "><em> Support Engineer</em></h3>
                    <p><em>Deutsche Bank | Jacksonville, FloridaJune 2021 - January 2024</em> </p>
                    <ul>
                        <li>Wrote and modified SQL queries to help with database checks and performance improvements.</li>
                        <li>Monitored applications using Splunk and Control-M, escalating complex issues when needed.</li>
                        <li>Supported senior team members in providing technical solutions.</li>
                    </ul>
                </div>

                <div id="exp2 ">
                    <h3 class="experance-heading"><em>Technical Support Engineer (Automations)</em></h3>
                    <p><em>ServiceNow | San Diego, CAAugust 2022 - July 2023</em></p>
                    <ul>
                        <li>Provided first-level escalation support for technical cases on the ServiceNow platform.</li>
                        <li>Helped debug JavaScript issues with guidance from senior engineers.</li>
                        <li>Assisted in automating basic support tasks with JavaScript and PowerShell.</li>
                        <li> Learned and applied ITIL practices while collaborating with cross-functional teams.</li>
                    </ul>
                </div>


                <div id="exp3 ">
                    <h3 class="experance-heading "><em>Full Stack Web Developer Intern</em></h3>
                    <p><em>Horn of Africa Services | Seattle, WA September 2020 - June 2021</em></p>
                    <ul>
                        <li>Contributed to building a responsive web application using JavaScript, PHP, MySQL, and HTML.</li>
                        <li>Helped ensure cross-platform compatibility and worked on backend database features</li>
                        <li>Gained practical experience in web development through a nonprofit project.</li>

                    </ul>
                </div>

            </section>

            <section id="education">
                <h2>Education</h2>
                <ul class="education-ul ">
                    <li>
                        <h4 class="education-heading ">Bachelor of Applied Science in Software Development (In Progress)</h4>
                        <p><em>Green River College | Auburn, WA | Expected Graduation: 2027 </em> </p>
                    </li>

                    <li>
                        <h4 class="education-heading ">AAS in Web Development</h4>
                        <p><em>Highline College | Des Moines, WA | Graduated: November 2020</em></p>
                    </li>

                    <li>
                        <h4 class="education-heading ">BA in Marketing</h4>
                        <p><em>College of Business and Economics | Halhale, Eritrea | Graduated: September 2010</em></p>
                    </li>
                </ul>

            </section>

            <section id="certification">
                <div class="heading_div ">
                    <h2>Professional Development</h2>
                </div>

                <ul>
                    <li>CompTIA Project+ Certification - Issued June 2022</li>
                    <li>Android Development Nanodegree - Udacity (2018)</li>
                    <li>Front-End Web Developer Nanodegree - Udacity (2017)</li>

                </ul>

            </section>

        </main>
        <footer>
            <%- include('partials/footer') %>
        </footer>

</body>

</html>